@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto+Condensed:wght@700&display=swap')

.text1
    font-family: 'Outfit', sans-serif
    font-weight: bold
    letter-spacing: 11px

.text2
    font-family: 'Roboto Condensed', sans-serif
    letter-spacing: 2px
    font-size: 18px

.media
    font-size: 30px
    transition: .3s

    .media:hover
        color: #007e94
