@import 'imports'

#home
    font-family: $merri

    img
        border-radius: 100%
        animation: intro 3s

    h1
        font-family: $bebas
        font-size: 60px

    h2, h3
        font-family: $merri
        font-size: 30px

    .title
        animation: intro 1s
    .top
        animation: intro 5s
    .bottom
        animation: intro 3s
    .text
        animation: intro 5s

// ----- frame da animação

@keyframes intro
    0%
        opacity: 0
        transition: 1s
    100%
        opacity: 1
        transition: 1s


// ----- tamanhos de telas font

@media screen and ( max-width: 768px )
    #home
        .title
            font-size: 30px
        .subTitle
            font-size: 20px
        .text
            margin-top: 1vh

@media screen and ( max-width: 576px )
    #home
        height: fit-content
        .page
            height: fit-content
            padding: 3vh
            padding-bottom: 0
        img
            margin: 5vh