@import 'imports'

main
    .mediaM
        margin-top: 10vh

    .lg
        margin-left: 10vh

    a
        color: white
        margin-right: 10vh

    .media
        font-size: 40px
        margin-left: 0vh
    //tecnolog
    .h:hover
        color: #ff9100
    .c:hover
        color: #0066ff
    .j:hover
        color: #fbff00
        background-color: black
    .q:hover
        color: #0400e0
    .b:hover
        color: #6600a1
    .s:hover
        color: #ff85eb

//text main config
.text2:nth-child(1)
    font-size: 20px

.text2:nth-child(2)
    font-size: 40px

.text2:nth-child(3)
    font-size: 30px

//media config
@media (min-width:992px)
    .lg
        display: none

@media (max-width:992px)
    .gl
        display: none
    .textMain
        margin-top: 5vh
    main
        .mediaM
            margin-top: 8vh










