@import 'imports'

main
    height: 90vh

    .media
        font-size: 30px
        cursor: pointer

    a
        color: white
        margin-right: 10vh

.text2
    font-size: 40px

.text2:nth-child(3)
    font-size: 30px

